.card {
  display: block;
  height: 100px;
  width: 65px;
  border: 1px solid black;
  padding: 1em;
  border-radius: 5px;
}

#DeckContainer {
  display: block;
  box-sizing: content-box;
  width: auto;
  padding: 2em;
  border: 1px solid salmon;
}

#ControlPanel {
  padding: 2em;
  border: 1px solid green;
}

.hearts,
.diamonds {
  background-color: salmon;
}

.spades,
.clubs {
  background-color: #333;
  color: white;
}